body {
  background: #000;
}
#output {
  max-width: 1000px;
  display: grid;
  margin: auto;
  justify-content: center;
  grid-gap: 32px;
  padding: 16px;
  grid-template-columns: repeat(auto-fit, minmax(271px, 271px));
}
#output #title {
  grid-column: 1/-1;
  color: #f24;
  grid-gap: 0px;
}
#output #title h1 a {
  color: #fff;
  text-decoration: none;
}
#output #title h1 a :hover {
  text-decoration: underline;
}
#output #title h2 {
  color: #f24;
}
#output #title h1,
#output #title h2 {
  font-size: 14px;
  font-family: monospace;
  font-weight: normal;
  margin: 0;
}
#output a.canvas {
  display: flex;
  -webkit-tap-highlight-color: #f24;
}
#output a.canvas canvas {
  display: flex;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}
#output a.canvas canvas.active {
  opacity: 1;
}